In [4]:
import pandas as pd
from sklearn.preprocessing import StandardScaler, MinMaxScaler, MaxAbsScaler, RobustScaler

In [8]:
df = pd.read_csv(r"E:\Machine Learning\Module 10\Scaling_Project\income.csv")

In [6]:
df.head()

      Name  Age  Income  Buy
0      Rob   27   70000  Yes
1  Michael   29   90000   No
2    Mohan   29   61000  Yes
3   Ismail   28   60000  Yes
4     Kory   42  150000   No

In [7]:
df.tail()

        Name  Age  Income  Buy
17  Priyanka   41   63000   No
18      Nick   43   64000  Yes
19      Alia   39   80000   No
20       Sid   41   82000  Yes
21     Abdul   39   58000   No

In [10]:
# Select numerical data types
X = df.select_dtypes(include='number')
X

    Age  Income
0    27   70000
1    29   90000
2    29   61000
3    28   60000
4    42  150000
5    39  155000
6    41  160000
7    38  162000
8    36  156000
9    35  130000
10   37  137000
11   26   45000
12   27   48000
13   28   51000
14   29   49500
15   32   53000
16   40   65000
17   41   63000
18   43   64000
19   39   80000
20   41   82000
21   39   58000

In [14]:
# Extract numerical columns
X = df[['Age','Income']]
X

    Age  Income
0    27   70000
1    29   90000
2    29   61000
3    28   60000
4    42  150000
5    39  155000
6    41  160000
7    38  162000
8    36  156000
9    35  130000
10   37  137000
11   26   45000
12   27   48000
13   28   51000
14   29   49500
15   32   53000
16   40   65000
17   41   63000
18   43   64000
19   39   80000
20   41   82000
21   39   58000

In [15]:
# Apply Standard Scaler
scaler = StandardScaler()
standard = scaler.fit_transform(X)
standard

array([[-1.35605536, -0.48068427],
       [-1.00915747, -0.01015907],
       [-1.00915747, -0.69242061],
       [-1.18260641, -0.71594687],
       [ 1.24567876,  1.40141653],
       [ 0.72533193,  1.51904783],
       [ 1.07222982,  1.63667914],
       [ 0.55188299,  1.68373166],
       [ 0.20498511,  1.54257409],
       [ 0.03153617,  0.93089133],
       [ 0.37843405,  1.09557515],
       [-1.5295043 , -1.06884077],
       [-1.35605536, -0.99826199],
       [-1.18260641, -0.92768321],
       [-1.00915747, -0.9629726 ],
       [-0.48881065, -0.88063069],
       [ 0.89878087, -0.59831557],
       [ 1.07222982, -0.64536809],
       [ 1.4191277 , -0.62184183],
       [ 0.72533193, -0.24542167],
       [ 1.07222982, -0.19836915],
       [ 0.72533193, -0.76299939]])

In [16]:
# Apply MinMax scaler
scaler = MinMaxScaler()
minmax = scaler.fit_transform(X)
minmax

array([[0.05882353, 0.21367521],
       [0.17647059, 0.38461538],
       [0.17647059, 0.13675214],
       [0.11764706, 0.12820513],
       [0.94117647, 0.8974359 ],
       [0.76470588, 0.94017094],
       [0.88235294, 0.98290598],
       [0.70588235, 1.        ],
       [0.58823529, 0.94871795],
       [0.52941176, 0.72649573],
       [0.64705882, 0.78632479],
       [0.        , 0.        ],
       [0.05882353, 0.02564103],
       [0.11764706, 0.05128205],
       [0.17647059, 0.03846154],
       [0.35294118, 0.06837607],
       [0.82352941, 0.17094017],
       [0.88235294, 0.15384615],
       [1.        , 0.16239316],
       [0.76470588, 0.2991453 ],
       [0.88235294, 0.31623932],
       [0.76470588, 0.11111111]])

In [17]:
# Apply MaxAbsScaler
scaler = MaxAbsScaler()
maxabs = scaler.fit_transform(X)
maxabs

array([[0.62790698, 0.43209877],
       [0.6744186 , 0.55555556],
       [0.6744186 , 0.37654321],
       [0.65116279, 0.37037037],
       [0.97674419, 0.92592593],
       [0.90697674, 0.95679012],
       [0.95348837, 0.98765432],
       [0.88372093, 1.        ],
       [0.8372093 , 0.96296296],
       [0.81395349, 0.80246914],
       [0.86046512, 0.84567901],
       [0.60465116, 0.27777778],
       [0.62790698, 0.2962963 ],
       [0.65116279, 0.31481481],
       [0.6744186 , 0.30555556],
       [0.74418605, 0.32716049],
       [0.93023256, 0.40123457],
       [0.95348837, 0.38888889],
       [1.        , 0.39506173],
       [0.90697674, 0.49382716],
       [0.95348837, 0.50617284],
       [0.90697674, 0.35802469]])

In [18]:
# Apply Robust Scaler
scaler = RobustScaler()
robust = scaler.fit_transform(X)
robust

array([[-0.88372093,  0.03257329],
       [-0.69767442,  0.29315961],
       [-0.69767442, -0.08469055],
       [-0.79069767, -0.09771987],
       [ 0.51162791,  1.07491857],
       [ 0.23255814,  1.14006515],
       [ 0.41860465,  1.20521173],
       [ 0.13953488,  1.23127036],
       [-0.04651163,  1.15309446],
       [-0.13953488,  0.81433225],
       [ 0.04651163,  0.90553746],
       [-0.97674419, -0.29315961],
       [-0.88372093, -0.25407166],
       [-0.79069767, -0.21498371],
       [-0.69767442, -0.23452769],
       [-0.41860465, -0.18892508],
       [ 0.3255814 , -0.03257329],
       [ 0.41860465, -0.05863192],
       [ 0.60465116, -0.04560261],
       [ 0.23255814,  0.16286645],
       [ 0.41860465,  0.18892508],
       [ 0.23255814, -0.1237785 ]])